@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  font-family: Vazir,sans-serif;
}

/*font face*/
@font-face {
  font-family: "Vazir";
  font-weight: normal;
  font-style: normal;
  src: local("Vazirmatn-FD-Regular"), url('../public/fonts/eot/Vazirmatn-FD-Regular.eot');
  src: local("Vazirmatn-FD-Regular"), url('../public/fonts/eot/Vazirmatn-FD-Regular.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/woff2/Vazirmatn-FD-Regular.woff2') format('woff2'),
  url('../public/fonts/woff/Vazirmatn-FD-Regular.woff') format('woff'),
  url('../public/fonts/ttf/Vazirmatn-FD-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Vazir Bold";
  font-weight: bold;
  font-style: normal;
  src: local("Vazirmatn-FD-Bold"), url('../public/fonts/eot/Vazirmatn-FD-Bold.eot');
  src: local("Vazirmatn-FD-Bold"), url('../public/fonts/eot/Vazirmatn-FD-Bold.eot?#iefix') format('embedded-opentype'),
  url('../public/fonts/woff2/Vazirmatn-FD-Bold.woff2') format('woff2'),
  url('../public/fonts/woff/Vazirmatn-FD-Bold.woff') format('woff'),
  url('../public/fonts/ttf/Vazirmatn-FD-Bold.ttf') format('truetype');
  font-display: swap;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}
.btn-blue:hover {
  @apply bg-blue-700;
}
.btn-2{
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
}

/* circle shape */
.circle{
  @apply md:flex hidden justify-center items-center border-t-2  rounded-full;
}
.circle--lg{
  @apply w-[203px] h-[203px]  border-white/25;
}
.circle--md{
  @apply w-[145px] h-[145px]  border-white/50;
}
.circle--sm{
  @apply w-[95px] h-[95px]  border-white/80;
}

@media screen and (min-width: 1280px){
  /* body background */
  html.dark .products-new{
    background: url("../public/images/body-bg.png") no-repeat;
  }
  .products-new{
    background: linear-gradient(rgba(243, 244, 246, 0.65),rgba(243, 244, 246, 0.65)), url("../public/images/body-bg.png") no-repeat;
    background-size: 100%;
  }
}


.section-title{
  @apply lg:text-5xl/[48px] text-2xl
}
.section-subtitle{
  @apply text-lg/[40px] lg:text-3xl/[40px] mt-0.5 lg:mt-1.5
}
.section-link{
  @apply flex items-center h-10 pr-3 pl-1 md:gap-x-1 rounded-md lg:text-xl/[28.6px] text-base/[22px] tracking-[-0.065em] text-orange-300 md:hover:bg-orange-300/20 transition-colors
}

.offer{
  @apply relative;
}
.offer::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  inset: 0;
  margin: auto;
  background-color: red;
}




